.contenido__titulo{
    color: red;
    font-family: 'Inconsolata';

}
@media screen and (min-width:0) {
    .contenido__mensaje{
        font-size: 2rem;
    }
}
@media screen and (min-width:768px) {
    .contenido__mensaje{
        font-size: 2.5rem;
    }
}