.contenido__titulo{
    color: #27080f;
    font-family:'Orbitron';

}
@media screen and (min-width:0) {
    .contenido__titulo{
        font-size: 2rem;
    }
}
@media screen and (min-width:768px) {
    .contenido__titulo{
        font-size: 5rem;
    }
}